@using TheContactBookApplication.Models;
@using TheContactBookApplication.Data;

@inject ContactsDbContext contactsDbContext
@inject NavigationManager _navigationManager

@if (ContactModel == null && WantAddContact == false)
{
    <div class="title">
        <table>
            <tr>
                <td> First Name </td>
                <td> Last Name </td>
                <td> Street Name </td>
                <td> House Number </td>
                <td> Apartment Number </td>
                <td> Postal Code </td>
                <td> Town </td>
                <td> Phone Number </td>
                <td> Date Of Birth </td>
                <td> Age </td>
            </tr>
        </table>
    </div>
}
@if (ContactModel != null)
{
    @if (WantEditContact == false)
    {
        <div class="contact">
            <div class="contact-row">
                <table>
                    <tr>
                        <td> @ContactModel.FirstName </td>
                        <td> @ContactModel.LastName </td>
                        <td> @ContactModel.StreetName </td>
                        <td> @ContactModel.HouseNumber </td>
                        <td> @ApartmentNumber </td>
                        <td> @ContactModel.PostalCode </td>
                        <td> @ContactModel.Town </td>
                        <td> @ContactModel.PhoneNumber </td>
                        <td> @DateOfBirth </td>
                        <td> @Age </td>
                    </tr>
                </table>
            </div>

            <EditContactButton WantToEditChanged="GetWantToEdit" />

            <DeleteContactButton DeleteContact="DeleteContact" />
        </div>
    }
    else
    {
        <div class="contact">
        <UserDataEdit ContactModel="@ContactModel" RefreshPage="NavigateToUrl"/>
        </div>
    }
}
@if (WantAddContact == true)
{
    <UserDataInput ContactAdded="GetNewContact" RefreshPage="NavigateToUrl" TodayInputFormat="@TodayInputFormat" />
}


@code {
    [Parameter]
    public ContactModel? ContactModel { get; set; }

    public ContactModel? NewContactModel { get; set; } = new ContactModel();

    [Parameter]
    public bool WantAddContact { get; set; } = false;

    public bool WantEditContact { get; set; } = false;

    public DateTime Today = DateTime.UtcNow.Date;

    public string? TodayInputFormat { get; set; }

    public string? ApartmentNumber { get; set; }

    public string? DateOfBirth { get; set; }

    public double Age { get; set; }

    [Parameter]
    public EventCallback<ContactModel> ContactsChanged { get; set; }


    protected override void OnInitialized()
    {
        CheckIfApartmentNumberExists();
        PrepareDataFormat();
        CountAge();
    }

    void CheckIfApartmentNumberExists()
    {
        if (ContactModel != null && ContactModel.ApartmentNumber != null)
        {
            ApartmentNumber = ContactModel.ApartmentNumber.ToString();
        }
        else
        {
            ApartmentNumber = "-";
        }
    }

    void PrepareDataFormat()
    {
        if (ContactModel != null)
        {
            DateOfBirth = ContactModel.DateOfBirth.ToString("dd/MM/yyyy");
        }

        TodayInputFormat = Today.ToString("yyyy-MM-dd");
    }

    void CountAge()
    {
        if (ContactModel != null)
        {

            while (Today.CompareTo(ContactModel.DateOfBirth) >= 0)
            {
                Age++;
                Today = Today.AddYears(-1);
            }
            Today = Today.AddYears(1);
            Age--;
        }
    }

    private async Task DeleteContact()
    {
        if (this.ContactModel != null)
        {
            contactsDbContext.ContactModels.Remove(this.ContactModel);
            await contactsDbContext.SaveChangesAsync();
            await ContactsChanged.InvokeAsync();
            NavigateToUrl();
        }
    }

    // private async Task EditThisContact()
    // {

    // }

    void GetNewContact(ContactModel newContactModel)
    {
        NewContactModel = newContactModel;

        ContactsChanged.InvokeAsync();
    }

    void GetWantToEdit(bool wantToEdit)
    {
        WantEditContact = wantToEdit;
    }

    void NavigateToUrl()
    {
        _navigationManager.NavigateTo("", true);
    }
}
