@using TheContactBookApplication.Models;
@using TheContactBookApplication.Data;

@inject ContactsDbContext contactsDbContext
@inject NavigationManager _navigationManager

@if (ContactModel == null && WantAddContact == false)
{
    <div class="title">
        <table>
            <tr>
                <td> First Name </td>
                <td> Last Name </td>
                <td> Street Name </td>
                <td> House Number </td>
                <td> Apartment Number </td>
                <td> Postal Code </td>
                <td> Town </td>
                <td> Phone Number </td>
                <td> Date Of Birth </td>
                <td> Age </td>
            </tr>
        </table>
    </div>
}
@if (ContactModel != null)
{
    <div class="contact">
        <div class="contact-row">
            <table>
                <tr>
                    <td> @ContactModel.FirstName </td>
                    <td> @ContactModel.LastName </td>
                    <td> @ContactModel.StreetName </td>
                    <td> @ContactModel.HouseNumber </td>
                    <td> @ApartmentNumber </td>
                    <td> @ContactModel.PostalCode </td>
                    <td> @ContactModel.Town </td>
                    <td> @ContactModel.PhoneNumber </td>
                    <td> @DateOfBirth </td>
                    <td> @Age </td>
                </tr>
            </table>
        </div>

        <div class="delete-button">
            <button class="btn btn-danger" @onclick="DeleteContact">Delete</button>
        </div>
    </div>
}
@if (WantAddContact == true)
{
    <div class="edit-form">
        <EditForm Model="@NewContactModel" OnValidSubmit="SubmitForm" class="editform-class">
            <DataAnnotationsValidator />

            <InputText id="firstname" @bind-Value="NewContactModel.FirstName" class="form-control" />
            <ValidationMessage For="@(() => NewContactModel.FirstName)" />

            <InputText id="lastname" @bind-Value="NewContactModel.LastName" class="form-control" />
            <ValidationMessage For="@(() => NewContactModel.LastName)" />

            <InputText id="lastname" @bind-Value="NewContactModel.StreetName" class="form-control" />
            <ValidationMessage For="@(() => NewContactModel.StreetName)" />

            <InputNumber id="lastname" @bind-Value="NewContactModel.HouseNumber" class="form-control" />
            <ValidationMessage For="@(() => NewContactModel.HouseNumber)" />

            <InputNumber id="lastname" @bind-Value="NewContactModel.ApartmentNumber" class="form-control" />
            <ValidationMessage For="@(() => NewContactModel.ApartmentNumber)" />

            <InputText id="lastname" @bind-Value="NewContactModel.PostalCode" class="form-control" />
            <ValidationMessage For="@(() => NewContactModel.PostalCode)" />

            <InputText id="lastname" @bind-Value="NewContactModel.Town" class="form-control" />
            <ValidationMessage For="@(() => NewContactModel.Town)" />

            <InputNumber id="lastname" @bind-Value="NewContactModel.PhoneNumber" class="form-control" />
            <ValidationMessage For="@(() => NewContactModel.PhoneNumber)" />

            <InputDate id="lastname" min="1900-01-01" max="@TodayInputFormat" @bind-Value="NewContactModel.DateOfBirth" class="form-control" />
            <ValidationMessage For="@(() => NewContactModel.DateOfBirth)" />

            <button type="submit" class="btn btn-primary">Save</button>
        </EditForm>
    </div>

    <style>
        .editform-class {
            display: flex;
            gap: 2.6rem;
            margin: 1rem;
        }

        .form-control {
            width: 8rem;
        }
    </style>
}


@code {
    [Parameter]
    public ContactModel? ContactModel { get; set; }

    public ContactModel? NewContactModel { get; set; } = new ContactModel();

    [Parameter]
    public bool WantAddContact { get; set; } = false;

    public DateTime Today = DateTime.UtcNow.Date;

    public string? TodayInputFormat { get; set; }

    public string? ApartmentNumber { get; set; }

    public string? DateOfBirth { get; set; }

    public double Age { get; set; }

    [Parameter]
    public EventCallback<ContactModel> ContactsChanged { get; set; }


    protected override void OnInitialized()
    {
        CheckIfApartmentNumberExists();
        PrepareDataFormat();
        CountAge();
    }

    void CheckIfApartmentNumberExists()
    {
        if (ContactModel != null && ContactModel.ApartmentNumber != null)
        {
            ApartmentNumber = ContactModel.ApartmentNumber.ToString();
        }
        else
        {
            ApartmentNumber = "-";
        }
    }

    void PrepareDataFormat()
    {
        if (ContactModel != null)
        {
            DateOfBirth = ContactModel.DateOfBirth.ToString("dd/MM/yyyy");
        }

        TodayInputFormat = Today.ToString("yyyy-MM-dd");

        NewContactModel.DateOfBirth = DateTime.Now.Date;
    }

    void CountAge()
    {
        if (ContactModel != null)
        {

            while (Today.CompareTo(ContactModel.DateOfBirth) >= 0)
            {
                Age++;
                Today = Today.AddYears(-1);
            }
            Today = Today.AddYears(1);
            Age--;
        }
    }

    private async Task SubmitForm()
    {
        if (NewContactModel != null)
        {
            contactsDbContext.ContactModels.Add(NewContactModel);
            await contactsDbContext.SaveChangesAsync();
            await ContactsChanged.InvokeAsync();
            NavigateToYourUrl();
        }
    }

    private async Task DeleteContact()
    {
        if (this.ContactModel != null)
        {
            contactsDbContext.ContactModels.Remove(this.ContactModel);
            await contactsDbContext.SaveChangesAsync();
            await ContactsChanged.InvokeAsync();
            NavigateToYourUrl();
        }
    }

    void NavigateToYourUrl()
    {
        _navigationManager.NavigateTo("", true);
    }
}
